* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  display: flex;
  flex: 1;
}
main article {
  background-color: aliceblue;
  flex: 2;
}
main aside {
  background-color: aqua;
  flex: 1;
}
main nav {
  background-color: aquamarine;
  flex: 1;
}
header, footer {
  background-color: beige;
  padding: 1rem 0;
}